﻿.product-card {
    background: var(--fill-color);
    border-radius: 20px;
    width: calc(20% - 20px);
    box-shadow: 0 0 2px rgba(0,0,0,0.24), 0 2px 4px rgba(0,0,0,0.28);
}

.product-card-image {
    width: 80%;
    display: block;
    margin: 20px auto;
}

.card-title {
    text-align: center;
}



.card-price {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}
