.card-list-items {
    display: flex;
    flex-flow: row wrap;
}

.card-list-item {
    flex: 0 1 25%;
}


.list-features {
    display: flex;
    flex: 0 1 auto;
    padding-top: 18px;
    padding-bottom: 22px;
}

.list-features-item {
    padding: 4px 6px;
}